= render_field_id
= render_content_item_id

= render_label
%br
%button.content-item-button.popup--open
  .content-item-button__select.content-item-button__select--selected
    %i{ class: "material-icons icon" }
      cloud_upload
    %br
    %span.content-item-button__select__text
      Click to select a
      = field.name
      from the Media library
  - if associated_content_item && associated_primary_field_type_class == AssetFieldType
    .content-item-button__selection
      = render_association_cell
%small
  Recommended size: 1452px x 530px with a live area of 930px x 530px
