- if asset
  :javascript
    document.addEventListener("DOMContentLoaded", function(event) {
      new Clipboard('#copy-asset-url');
    });

  .asset-info.mdl-card.mdl-shadow--2dp
    .mdl-card__title
      %h2.mdl-card__title-text
        = image_tag(asset['versions']['original']['url'], style: 'max-height: 200px;')
    .mdl-card__supporting-text
      %dl
        %dt Original Filename
        %dd
          = asset['original_filename']
        %dt Original File Type
        %dd
          = asset['versions']['original']['mime_type']
        %dt File Size (Original Dimensions)
        %dd
          = number_to_human_size(asset['versions']['original']['file_size'])
        %dt Original Dimensions
        %dd
          = dimensions
        %dt Creator
        %dd
          = creator.fullname
        %dt Created
        %dd
          = created_at
        %dt Last Modified
        %dd
          = updated_at
        %dt URL
        %dd
          = link_to_asset
    .mdl-card__menu
      .mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect#copy-asset-url{data: {'clipboard-text': asset['versions']['original']['url']}}
        %i.material-icons content_copy
      .mdl-tooltip{for: 'copy-asset-url'}
        Copy Asset URL
