%strong Allowed extensions:
= render_allowed_asset_extensions
%br
%strong Allowed filesize:
= render_max_asset_size
%br
= render_field_id
= render_label
= render_input
- if @options[:tooltip]
  %br
    = render_tooltip
